/*STYLESHEET*/

#yAxis {
  height: 500px;
  width: 5px;
  background: black;

}

#xAxis {
  height: 5px;
  width: 500px;
  background: black;
  position: absolute;
}

.bar {
  width: 50px;
  background: black;
  border: 2px solid white;
}
